// Background colors
$primary-background-color: #ffffff;
$footer-background-color: #f7f7f7;
$header-background-color: rgba(0, 0, 0, 0.56);
$accent-color: #ff6b08;

// Text colors
$primary-text-color: #000000;
$secondary-text-color: #545454;
$warning-text-color: #ff001b;
$lighter-text-color: #ffffff;
$darker-text-color: #8c8c8c;
$transparent: transparent;

// Text size
$primary-font-size: 12px;
$secondary-font-size: 14px;
$third-font-size: 16px;

// Text variables
$primary-font-family: 'Roboto', sans-serif;

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
