@import './base/variables';
@import './base/all-styles';
@import './components/loader';
@import './components/header';
@import './components/gallery';
@import './components/library';
@import './components/pagination';
@import './components/modal-card';
@import './components/footer';
@import './components/footer-modal';
@import './components/up-btn';
@import './components/sign-in';
@import './components/registration';
@import './components/dark-on';
