<div class="backdrop hidden" data-modal>
    <div class="footer-modal-group container">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="close-icon" width="14" height="14">
                <use href="./images/icons/icons2.svg#close"></use>
            </svg>
        </button>
        <h2 class="team-name">IT-Com</h2>
        <ul class="group list">
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/BohdanaH.jpg" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>

                <a id="url" target="_blank" class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/OlgaN.jpg" alt="photo Olga N.">
                <div class="participant-info">
                    <p class="participant-info__name">Olga N.</p>
                    <p class="participant-info__role">Scrum-master</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/helganaz">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/AnnaM.jpg" alt="photo Anna M.">
                <div class="participant-info">
                    <p class="participant-info__name">Anna M.</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/AnnaMezentsewa">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/MaximL.jpg" alt="photo Maxim L.">
                <div class="participant-info">
                    <p class="participant-info__name">Maxim L.</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/oscuroplan">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/ValeriiM.jpg" alt="photo Valerii M.">
                <div class="participant-info">
                    <p class="participant-info__name">Valerii M.</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/ITValerka">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/SergeyL.jpg" alt="photo Sergey L.">
                <div class="participant-info">
                    <p class="participant-info__name">Sergey L.</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/SerhiiLytviak">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/dev/BogdanY.jpg" alt="photo Bogdan Y.">
                <div class="participant-info">
                    <p class="participant-info__name">Bogdan Y.</p>
                    <p class="participant-info__role">Developer</p>
                </div>
            
                <a id="url" target="_blank" class="git" href="https://github.com/YegorovBogdan">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>

<script></script>