<div class="backdrop hidden" data-modal>
    <div class="footer-modal-group container">
        <button type="button" class="close-btn" data-modal-close>
            <svg class="close-icon" width="14" height="14">
                <use href="./images/icons/icons2.svg#close"></use>
            </svg>
        </button>
        <h2 class="team-name">IT-Com</h2>
        <ul class="group list">
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>

                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-photo" src="./images/no-poster.png" alt="photo Bohdana H.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdana H.</p>
                    <p class="participant-info__role">Team-Lead</p>
                </div>
            
                <a class="git" href="https://github.com/Bohdana-Halenko">
                    <svg class="git-icon">
                        <use href="./images/icons/icons2.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>