<ul class="gallery-list container">
  <!-- ТУТ БУДЕТ РЕНДЕР ФИЛЬМОВ -->
  <!-- <li class="gallery-card">
    <img
      class="card-img"
      src="https://image.tmdb.org/t/p/w300/1g0dhYtq4irTY1GPXvft6k4YLjm.jpg"
      loading="lazy"
      alt="Film poster"
    />
    <div class="card-info">
      <h3 class="card-title">Spider-Man: No Way Home</h3>
      <p class="card-genre">Action, Adventure, Science Fiction</p>
      <p class="card-release-year">2021</p>
      <p class="card-raiting card-raiting--bg">8.4</p>
    </div>
  </li> -->
  <!-- ТУТ БУДЕТ РЕНДЕР ФИЛЬМОВ -->
</ul>
