<header>
  <div class="header__container">
    <nav class="nav">
      <a href="./index.html" class="logo logo__link">
        <svg class="logo__img">
          <use href="/images/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a class="site-name__link" href="./index.html"> <p class="site-name">Filmoteka</p> </a>
      <ul class="nav-list list">
        <li class="nav-list__item-home nav-list__item-home-active">
          <a href="./index.html" class="nav-list__link-home nav-list__link-home--accent link"
            >HOME</a
          >
        </li>
        <li class="nav-list__item-library">
          <a href="" class="nav-list__link-library nav-list__link-library--accent link"
            >MY LIBRARY</a
          >
        </li>
        <li class="nav-list__item-sign-in">
          <a href="" class="nav-list__link-sign-in nav-list__link-sign-in--accent link">SIGN IN</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form class="search__form" action="">
        <input class="search__input" type="text" placeholder="Поиск фильмов" />
        <svg class="search__img">
          <use href="/images/icons/sprite.svg#icon-search"></use>
        </svg>
        <button class="search__btn" type="button"></button>
      </form>
    </div>
    <div class="library__btns is-hidden">
      <button class="library__btn-watched library__btn-active">WATCHED</button>
      <button class="library__btn-queue library__btn">QUEUE</button>
    </div>
  </div>
</header>
