<header>
  <div class="header__container">
    <nav class="nav">
      <a href="./index.html" class="logo logo__link"></a>
      <svg class="logo__img">
        <use href="/images/icons/sprite.svg#icon-logo"></use>
      </svg>
      <p class="site-name">Filmoteka</p>
      <ul class="nav-list list">
        <li class="nav-list__item-home">
          <a href="./index.html" class="nav-list__link-home nav-list__item-home-active link"
            >HOME</a
          >
        </li>
        <li class="nav-list__item-library">
          <a href="" class="nav-list__link-library link">MY LIBRARY</a>
        </li>
        <li class="nav-list__item-sign-in">
          <a href="" class="nav-list__link-sign-in link">SIGN IN</a>
        </li>
      </ul>
    </nav>
    <div class="search">
      <form class="search__form" action="">
        <input class="search__input" type="text" placeholder="Поиск фильмов" />
        <svg class="search__img">
          <use href="/images/icons/sprite.svg#icon-search"></use>
        </svg>
        <button class="search__btn" type="button"></button>
      </form>
    </div>
    <div class="library-btns is-hidden">
      <button class="btn-watched library-btn-active">WATCHED</button>
      <button class="btn-queue library-btn">QUEUE</button>
    </div>
  </div>
</header>
