<div class="registration-form__window is-hidden backdrop">
  <div class="registration-form__wraper">
    <button type="button" class="registration-form-close-btn">
      <span class="close registration-form-btn-svg"></span>
      <svg>
        <use href="/images/icons/icons2.svg#close"></use>
      </svg>
    </button>
    <form class="registration-form">
      <p class="registration-form__offer-registration">
        Please, fill this form for creating new account.
      </p>
      <div>
        <label class="registration-form__label registration-form__label-email">Email</label>
        <input
          class="registration-form__input registration-form__input-email"
          type="email"
          name="E-mail"
          minlength="1"
          maxlength="40"
          required
        />
      </div>
      <div>
        <label class="registration-form__label registration-form__label-passw">Password</label>
        <input
          class="registration-form__input registration-form__input-passw"
          type="password"
          name="password"
          minlength="1"
          maxlength="40"
          required
        />
      </div>
      <div>
        <label class="registration-form__label registration-form__label-repeat-passw"
          >Repeat password
        </label>
        <input
          class="registration-form__input registration-form__input-repeat-passw"
          type="password"
          name="password"
          minlength="1"
          maxlength="40"
          required
        />
      </div>
      <button type="button" class="registration-form__btn">Sign Up!</button>
    </form>
  </div>
</div>
