<div class="registration-form__window is-hidden backdrop">
  <div class="registration-form__wraper">
    <button type="button" class="registration-form-close-btn">
      <svg class="registration-form-btn-svj" width="14" height="14">
        <use href="/images/icons/icons2.svg#close"></use>
      </svg>
    </button>
    <form class="registration-form">
      <p class="registration-form__offer-registration">
        Пожалуйста, заполните эту форму, чтобы создать учетную запись.
      </p>
      <div>
        <label class="registration-form__label">Email</label>
        <input
          class="registration-form__input"
          type="E-mail"
          name="E-mail"
          minlength="3"
          maxlength="20"
          placeholder="Введите свой логин здесь"
          required
        />
      </div>
      <div>
        <label class="registration-form__label"> Password </label>
        <input
          class="registration-form__input"
          type="text"
          name="password"
          minlength="3"
          maxlength="20"
          placeholder="Введите свой пароль"
          required
        />
      </div>
      <div>
        <label class="registration-form__label">Repeat password </label>
        <input
          class="registration-form__input"
          type="text"
          name="password"
          minlength="3"
          maxlength="20"
          placeholder="Введите свой пароль"
          required
        />
      </div>
      <button type="button" class="registration-form__btn">Зарегистрироваться</button>
    </form>
  </div>
</div>
