<div class="login-form__window backdrop is-hidden">
  <div class="login-form__wraper">
    <button type="button" class="login-form-close-btn">
      <span class="close login-form-btn-svg"></span>
      <svg>
        <use href="/images/icons/icons2.svg#close"></use>
      </svg>
    </button>
    <form class="login-form">
      <div>
        <label class="login-form__label login-form__label-log">Login</label>
        <input
          class="login-form__input login-form__input-log"
          type="text"
          name="login"
          minlength="1"
          maxlength="40"
          required
        />
      </div>
      <div>
        <label class="login-form__label login-form__label-passw">Password</label>
        <input
          class="login-form__input login-form__input-passw"
          type="password"
          name="password"
          minlength="1"
          maxlength="40"
          required
        />
      </div>
      <button type="submit" class="login-form__btn-login">Login</button>
      <div>
        <p class="login-form__offer-registration">Don't have an account?</p>
        <button type="button" class="login-form__btn-to-registartion">Sign Up</button>
      </div>
    </form>
  </div>
</div>
