// .darkmode--activated a {
//   color: white;
// }

// .dark-button__icon {
//   position: fixed;
//   bottom: 108px;

//   left: 46px;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;

//   cursor: pointer;
//   background-color: transparent;
// }

// @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.dark a {
  color: $primary-background-color;
}

body.dark {
  // background:#292c35 ;
  // color: #fff;

  background-color: #292c35;

  & .modal__container,
  .login-form__wraper,
  .registration-form__wraper {
    background-color: #292c35;
    color: #fff;
  }

  & .login-form__label,
  .login-form__offer-registration,
  .registration-form__offer-registration,
  .registration-form__label-email,
  .registration-form__label-passw,
  .registration-form__label-repeat-passw {
    color: #fff;
  }
  & .login-form__input:hover,
  .login-form__input:focus {
    color: #000;
    background-color: #fdccaa;
  }
  & .registration-form__input:hover,
  .registration-form__input:focus {
    color: #000;
    background-color: #fdccaa;
  }
  & .login-form__btn-login,
  .login-form__btn-to-registartion,
  .registration-form__btn {
    color: #fff;
    background-color: $accent-color;
    border: 2px solid $accent-color;
  }
  & .login-form__btn-login:hover,
  .login-form__btn-login:focus {
    // border-color: $accent-color;
    color: #000;
    background-color: #fff;
    transition: $accent-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .login-form__btn-to-registartion:hover,
  .login-form__btn-to-registartion:focus {
    color: #000;
    background-color: #fff;
    transition: $accent-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & .registration-form__btn:hover,
  .registration-form__btn:focus {
    color: #000;
    background-color: #fff;
    transition: $accent-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .film__vote {
    color: #000;
  }
  & .card-title {
    color: #fff;
  }

  & .btn__trailer,
  .btn__watch,
  .btn__queue {
    background-color: #fff;
  }
  & .btn__watch:hover,
  .btn__watch:focus,
  .btn__queue:hover,
  .btn__queue:focus {
    background-color: $accent-color;
  }
  & .btn__trailer {
    color: #f00;
  }
  & .btn__trailer:hover,
  .btn__trailer:focus {
    background-color: #fff;
  }

  & .library__btn-watched,
  .library__btn-queue {
    color: #fff;
  }
  & .library__btn-watched:hover,
  .library__btn-watched:focus,
  .library__btn-queue:hover,
  .library__btn-queue:focus {
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }
  & .footer,
  .footer__button,
  .footer__container,
  .group__item {
    color: #fff;
    background-color: #383c49;
  }
  & .footer-modal-group,
  .team-name {
    background-color: #292c35;
    color: #fff;
  }
  & .git {
    border: transparent;
    background-color: transparent;
  }
  & .git-icon {
    fill: #fff;
  }

  & .git-icon:hover,
  .git-icon:focus {
    fill: $accent-color;
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #111;
  color: #fff;
  border-radius: 50px;
  border: solid 1px $accent-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 52px;
  transform: scale(1);
  left: 82%;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  position: absolute;
  font-size: 12px;
  left: 5px;
  top: 7px;
}

.fa-sun {
  // color: $accent-color;
  font-size: 12px;
  position: absolute;
  right: 7px;
  top: 7px;
}
