// p {
//   margin: 0;
//   padding: 0;
// }
.footer {
  width: 100%;
  background: $footer-background-color;

  &__container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: $tablet) {
      height: 77px;
      padding-top: 30px;
      padding-bottom: 28px;
      flex-direction: row;
      font-size: 16px;
      line-height: 1.19;
    }
  }
  &__button {
    padding: 0;
    border: 0px;
    background-color: $footer-background-color;
    color: $secondary-text-color;
    cursor: pointer;
    border-bottom: 1px solid $secondary-text-color;
  }
  &__button:focus,
  &__button:hover {
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    @media screen and (min-width: $tablet) {
      margin-right: 3px;
      margin-bottom: 0;
    }
  }
  &__developed {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // &__heart-icon {
  //   margin: 0 10px 0 10px;
  //   width: 14px;
  //   height: 12.75px;
  //   @media screen and (min-width: $tablet) {
  //     width: 14px;
  //     height: 12.88px;
  //   }
  // }
}

.heart {
  animation: heartbeat 1s infinite;
  background-color: $accent-color;
  display: inline-block;
  height: 8px;
  margin: 0 10px 0 10px;

  top: 0;
  transform: rotate(-45deg);

  left: 45%;
  top: 45%;
  width: 8px;
}

.heart:before,
.heart:after {
  content: '';
  background-color: $accent-color;
  border-radius: 50%;
  height: 8px;
  position: absolute;
  width: 8px;
}

.heart:before {
  top: -4px;
  left: 0;
}

.heart:after {
  left: 4px;
  top: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}
