.header {
  background-color: $primary-text-color;
  isolation: isolate;
}
.header__container {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 230px;
  width: 320px;
  margin: 0 auto;
  padding-top: 46px;
  font-weight: 500;
  line-height: 1.17;

  &-library {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
    width: 320px;
    margin: 0 auto;
    padding-top: 46px;
    font-weight: 500;
    line-height: 1.17;
  }
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  height: 42px;
}
.logo {
  display: flex;
  &__img {
    width: 25px;
    height: 35px;
  }
}
.site-name {
  font-size: 0px;
  margin-left: auto;
}
.nav {
  display: flex;
  margin: 0 auto;
  width: 278px;
  font-size: $primary-font-size;
  font-weight: 500;
  line-height: 1.17;
  color: $lighter-text-color;
}
.menu__container {
  margin-left: auto;
  align-self: flex-end;
  height: 18px;
}
.nav-list {
  display: flex;
  width: 178px;
  justify-content: space-between;
  position: relative;

  &__link-home-accent:hover {
    color: $accent-color;
    transition-duration: 0.5s;
  }
  &__link-library-accent:hover {
    color: $accent-color;
    transition-duration: 0.5s;
  }
  &__link-sign-in-accent:hover {
    color: $accent-color;
    transition-duration: 0.5s;
  }

  &__item-library-active::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 3;
    width: 69px;
    height: 3px;
    background-color: $accent-color;
    color: $lighter-text-color;
  }

  &__item-home-active::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 3;
    width: 34px;
    height: 3px;
    background-color: $accent-color;
  }
}
.sign-in__button {
  cursor: pointer;
  background-color: $transparent;
  border: none;
  color: $lighter-text-color;
  padding: 0;
}
.search {
  display: flex;
  align-items: flex-end;
  height: 53px;
  font-size: 14px;
  &__form {
    display: flex;
    width: 280px;
    height: 20px;
    margin: 0 auto;
    border-bottom: 0.2px solid #f7f7f7bd;
  }
  &__form:hover,
  &__form:focus {
    border-bottom: 0.2px solid $accent-color;
  }
  &__input {
    border: none;
    outline: none;
    color: $lighter-text-color;
    background: $transparent;
    width: 100%;
  }
  &__img {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  &__img:hover {
    width: 18px;
    height: 18px;
  }
  &__btn {
    background-color: $transparent;
    border: none;
    width: 20px;
    outline: none;
  }
}

::-webkit-input-placeholder {
  color: $lighter-text-color;
}
:-moz-placeholder {
  color: $lighter-text-color;
}
::-moz-placeholder {
  color: $lighter-text-color;
}
:-ms-input-placeholder {
  color: $lighter-text-color;
}

.library__btns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-content: start;
  width: 280px;
  font-size: 12px;
}

.library__btn {
  height: 44px;
  border: 1px solid $lighter-text-color;
  border-radius: 5px;
  color: $lighter-text-color;
  background-color: $transparent;
  cursor: pointer;

  &-active {
    height: 44px;
    border: 1px solid $transparent;
    border-radius: 5px;
    color: $lighter-text-color;
    background-color: $accent-color;
    cursor: pointer;
  }
  &-watched {
    width: 130px;
  }
  &-queue {
    width: 130px;
  }
}
@media screen and (max-width: 767px) {
  .header__container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-mobile-1x.jpg');

    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-mobile-1x.jpg');
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-widtn: 767px),
  (min-resolution: 2dppx) and (max-widtn: 767px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-mobile-2x.jpg');

    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-mobile-2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-tablet-1x.jpg');
    width: 768px;
    padding-top: 46px;
    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-tablet-1x.jpg');
      width: 768px;
      padding-top: 46px;
      .logo__container {
        width: 175px;
      }
      .nav {
        width: 626px;
      }
    }
    .logo__container {
      width: 175px;
    }
    .nav {
      width: 626px;
    }
  }
  .site-name {
    font-size: 30px;
  }
  .search {
    height: 55px;
    &__form {
      width: 336px;
    }
  }
  .library__btns {
    width: 287px;
  }
  .library__btn-watched {
    width: 136px;
  }
  .library__btn-queue {
    width: 136px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-tablet-2x.jpg');

    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-tablet-2x.jpg');
    }
  }
}
@media screen and (min-width: 1024px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-desktop-1x.jpg');
    width: 1024px;
    .logo__container {
      width: 175px;
    }
    .nav {
      width: 882px;
    }
    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-desktop-1x.jpg');
      width: 1024px;
      .logo__container {
        width: 175px;
      }
      .nav {
        width: 882px;
      }
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024px),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-main-desktop-2x.jpg');

    &-library {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/header-library-desktop-2x.jpg');
    }
  }
}
