.header__container {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 53px;
  max-width: 1024px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.17;

  &-library {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 53px;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.17;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.logo__img {
  margin-top: 46px;
  margin-left: 20px;
  width: 24px;
  height: 24px;
}
.site-name {
  font-size: 0px;

  &__link {
    margin-bottom: 40px;
  }
}
.nav {
  display: flex;
  font-size: $primary-font-size;
  font-weight: 500;
  line-height: 1.17;
  color: $lighter-text-color;
  min-width: 320px;
}
.nav-list {
  display: flex;
  justify-content: end;
  margin-top: 58px;
  margin: 58px 0px 41px auto;
  position: relative;

  &__link-home--accent:hover {
    color: $accent-color;
  }
  &__link-library--accent:hover {
    color: $accent-color;
  }
  &__link-sign-in--accent:hover {
    color: $accent-color;
  }
  &__item-sign-in {
    margin-right: 20px;
  }
  &__item-library {
    margin-right: 39px;
  }
  &__item-library-active::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 3;
    width: 69px;
    height: 3px;
    background-color: $accent-color;
  }
  &__item-home {
    margin-right: 39px;
  }
  &__item-home-active::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 3;
    width: 34px;
    height: 3px;
    background-color: $accent-color;
  }
}
.search {
  &__form {
    display: flex;
    width: 280px;
    height: 20px;
    margin: 0 auto;
    border-bottom: 0.2px solid #f7f7f7bd;
  }
  &__input {
    border: none;
    outline: none;
    color: $lighter-text-color;
    background: $transparent;
    width: 100%;
  }
  &__img {
    width: 15px;
    height: 15px;
    margin-right: -20px;
  }
  &__btn {
    background-color: $transparent;
    border: none;
    width: 20px;
  }
}
::-webkit-input-placeholder {
  color: $lighter-text-color;
}
:-moz-placeholder {
  color: $lighter-text-color;
}
::-moz-placeholder {
  color: $lighter-text-color;
}
:-ms-input-placeholder {
  color: $lighter-text-color;
}

.library-btns {
  text-align: center;
}
.btn-watched {
  width: 130px;
  margin-right: 8px;
}
.btn-queue {
  width: 130px;
  margin-left: 7px;
}
.library-btn {
  height: 44px;
  border: 1px solid $lighter-text-color;
  border-radius: 5px;
  color: $lighter-text-color;
  background-color: $transparent;

  &-active {
    height: 44px;
    border: 1px solid $transparent;
    border-radius: 5px;
    color: $lighter-text-color;
    background-color: $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    background-image: url('../images/header/header-main-mobile-1x.jpg');
    height: 230px;

    &-library {
      background-image: url('../images/header/header-library-mobile-1x.jpg');
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-widtn: 767px),
  (min-resolution: 2dppx) and (max-widtn: 767px) {
  .header__container {
    background-image: url('../images/header/header-main-mobile-2x.jpg');

    &-library {
      background-image: url('../images/header/header-library-mobile-2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    background-image: url('../images/header/header-main-tablet-1x.jpg');
    height: 230px;

    &-library {
      background-image: url('../images/header/header-library-tablet-1x.jpg');
    }
  }
  .logo__img {
    margin-top: 46px;
    margin-left: 71px;
    margin-right: 10px;
  }
  .site-name {
    margin-top: 40px;
    font-size: 30px;
  }
  .search__form {
    width: 336px;
  }

  .btn-watched {
    width: 136px;
    margin-right: 5px;
  }
  .btn-queue {
    width: 136px;
    margin-left: 5px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .header__container {
    background-image: url('../images/header/header-main-tablet-2x.jpg');

    &-library {
      background-image: url('../images/header/header-library-tablet-2x.jpg');
    }
  }
}

@media screen and (min-width: 1024px) {
  .header__container {
    background-image: url('../images/header/header-main-desktop-1x.jpg');

    &-library {
      background-image: url('../images/header/header-library-desktop-1x.jpg');
    }
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024px),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  .header__container {
    background-image: url('../images/header/header-main-desktop-2x.jpg');

    &-library {
      background-image: url('../images/header/header-library-desktop-2x.jpg');
    }
  }
}
