.library__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: $accent-color;
  margin: 0px auto 20px auto;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 60px;
  }
}
.library__image {
  display: block;
  width: 100%;
  height: auto;
}
