.up-button {
  padding: 0px;
  display: none;
  position: fixed;
  bottom: 102px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px $accent-color;
  cursor: pointer;
  background-color: transparent;
  align-items: center;

  @media screen and (min-width: $tablet) {
    padding: 5px;
    bottom: 90px;
    right: 40px;
    width: 60px;
    height: 60px;
  }

  &:hover,
  &:focus {
    line-height: 0;
    border-color: $secondary-text-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.03);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $accent-color;

    @media screen and (min-width: $tablet) {
      width: 35px;
      height: 35px;
    }

    .up-button:hover &,
    .up-button:focus & {
      fill: $secondary-text-color;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
